button.btn.col-12{
    background-color: #e0e0e0 !important;
    color: #000000 !important;
    border-block: black!important;
    /*border-color: black!important;*/

    /*border: black!important;*/
}
button.btn:hover{
    background-color: aqua!important;
}